a{
    text-decoration: none;
    color: white;
}
li{
    list-style-type: none;
    
}
.header{
    height: 72px;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    padding: 0 295px;
    
}
body{
    display: flex;
    flex-direction: column;

    margin: 0px;
}
.links{
    display: flex;
    gap: 16px;
    
}
.main-text-header{
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;

}
.main-container{
    background-color: #1f2937;
    display: flex;
    height: 300px;
    gap: 20px;
    padding: 50px 300px;
}
.sub-text-header,.links{
    font-size: 18px;
    color: #e5e7eb;

    
}
.header-link-text{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}
.header-image{
    margin-left:auto;

    
}
img{
    width: 700px;
    height: 300px;
}

button{
    background-color: #3882f6;
    color: white;
    margin-top: 10px;
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
}
.main{
    min-width: 200px;
}
.container-image{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 0px 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.container-quote{
    background-color: #e5e7eb;
    height: 300px;
    color: #1f2937;
    font-style: italic;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 400px;
    flex-shrink: 0;
    font-weight: 200;
    flex-direction: column;
    
    
}
.quote{
    min-width: 400px;
    
}
.author-quote{
    margin-left:auto;
    font-weight: 900;
}
.container-image .frame{
    display: flex;
    font-weight: 100;
    font-size: 20px;
    gap: 20px;
}
.container-image .frame .image{
    border-color: #3882f6;
    height: 200px;
    border-style: solid;
    border-radius: 20px;
}
.container-call-to-action{
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-call-to-action .action{
    background-color: #3882f6;
    height: 200px;
    width: 1400px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.action .container{
    display: flex;
    gap: 800px;
}
.sign-up{
    color: #e5e7eb;
    border-style: solid;
    border-color: #e5e7eb;
    border-radius: 10px;
    border-width: 2px;
    font-weight: 700;
    padding: 5px 20px;
    margin: auto;
    
}
.call{
    color: #e5e7eb;
    font-weight: 700;
    font-size: 28px;
}
.subtitle{
    color: #e5e7eb;
    font-weight: 400;
    font-size: 16px;
}
.footer{
    
    width: 100%;
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    padding: 25px ;
    font-weight: 400;
}